.Banner-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 150px;
    gap: 25px;
    width:65% ;
    height: 50vh;
    background: linear-gradient(120deg, #791980 0%,#11337422 60% );
}
.discount-card{
    position: relative;
    right: 250px;
    
}
.discount-card h1{
    color: red;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.discount-card button{
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}
.discount-card button:active{
    background-color: black;
    color: white;
}
.discount-card h2{
    color: black;
}
.Our-Products h2{
    text-align: center;
    padding: 20px 0px;
    color: #791980;
}
.Our-Products hr{
    border: 1px solid;
    width: 80%;
    display: flex ;
    margin:auto ;
    
}
.User-Product-div{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    padding: 30px 0px;
}
.main-user-continer{
    display: flex;
    justify-content: center;
    margin: auto;
    font-weight: 700;
}